.contactList-page {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-bottom: 8vh;
}

.contactList-page h3 {
  font-size: 1.4rem;
  border: 1px solid green;
  color: darkorange;
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  z-index: 1;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
