.tagsPage {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-bottom: 8vh;
}

.tagsPage h3 {
  font-size: 1.4rem;
  /* border: 1px solid green; */
  color: darkorange;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  z-index: 1;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.tagsPage-container {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tags-container,
.tags-controlPanel {
  width: 80%;
  /* padding: 0.75rem 1rem; */
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tags-container {
  border-bottom: 1px solid rgb(131, 130, 130);
  padding: 0.75rem 1rem;
}
.tags-controlPanel {
  /* border: 1px solid brown; */
  padding: 0.75rem 1rem 2rem 1rem;
  border: 1px solid darkblue;
  border-top: none;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.sub-headline {
  /* border: 1px solid red; */
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tagsPage-container form {
  /* border: 1px solid purple; */
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-left: 5rem; */
}

.tag-input-section,
.tag-color-pick {
  padding: 0.75rem 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .tag-input-section {
  border: 1px solid green;
} */

/* .tag-color-pick {
  border: 1px solid pink;
} */

.tag-color-pick p {
  margin-bottom: 0.5rem;
}

.tag-input-section input {
  margin-top: 0.5rem;
  outline: none;
  padding: 0.3rem 0.5rem;
  border: 1px solid lightgray;
  border-radius: 3px;
  /* width: 13rem; */
  width: 90%;
  color: rgb(59, 59, 59);
}

.tag-input-section input:focus {
  border: 2px solid darkblue;
}

.tags-controlPanel button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .tagsPage {
    /* border: 1px solid red; */
    width: 60vw;
    align-self: flex-end;
  }

  .tagsPage h3 {
    width: 100vw;
    align-self: flex-end;
  }
}
