.contact-element {
  border: 1px solid darkblue;
  border-radius: 10px;
  margin-bottom: 10px;
  /* padding: 5px 10px; */
  /* padding: 5px 0px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid rgb(145, 144, 144); */
  /* min-height: 8rem; */
  height: 25vh;
  width: 80vw;
}

.contact-container {
  /* border: 2px dotted brown; */
  /* padding: 10px 10px; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 64vw;
  /* border-bottom: 1px dotted black; */
}

.contact-buttons {
  border-left: 1px solid darkblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  height: 100%;
  width: 16vw;
}

.contact-info {
  /* border: 2px dotted orangered; */
  font-size: 1rem;
  display: flex;
  align-items: center;
  /* padding: 0.7rem 0.9rem; */
  padding: 1.8vh 2.2vw;
  height: 25%;
  /* padding: 10px 5px; */
}

.contact-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vw;
  margin-top: 0.3rem;
  /* border: 2px dotted purple; */
  border-top: 1px dotted black;
  height: 75%;
  overflow: scroll;
  padding: 1.8vh 2.2vw;
  width: 59.6vw;
}

.contact-icon {
  border: 1px solid darkblue;
  margin-right: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.contact-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-email {
  color: black;
}

.tag-wrapper {
  font-size: 0.8rem;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 9vw;
  height: 4vh;
  /* overflow-x: hidden; */
  /* overflow: hidden; */
  padding: 0 1.5vw;
}
