nav {
  /* border: 1px solid red; */
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  /* margin-bottom: 10px; */
  padding: 0.5em 0em;
  text-align: center;
  word-wrap: break-word;
  position: -webkit-sticky;
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
  justify-content: space-around;
  /* overflow: auto;
  white-space: nowrap; */
}

a {
  text-decoration: none;
  /* display: block; */
  display: inline-block;
  color: darkblue;
  font-size: 1rem;
  /* border: 1px solid green; */
  margin-bottom: 0.4em;
}
