.sharedLayout-header {
  border-bottom: solid black 0.2rem;
  background-color: rgb(236, 236, 236);
  /* background-color: blue; */
  /* padding: 15px 0; */
  width: 100%;
  height: 4rem;
  display: block;
  /* position: -webkit-sticky;
  position: sticky;
  top: 0; */
  z-index: 1;
}

.sharedLayout-body {
  /* border: solid green 1px; */
  background-color: #fff;
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 850px) {
  .sharedLayout-body {
    /* border: 1px solid green; */
    width: 80%;
  }
}
